
<form class="form-action" method="POST">
  <input type="text" class="post-Title" placeholder="Post Title">
  <input type="text" class="post-Body" placeholder="Post Body">
  <input class="form-button" type="submit" value="Create Post">
</form>
